.navbar {
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 20px #ccc;
}

.nav_brand {
    font-size: 30px;
    color: #607afc;
}

.nav_brand:before {
    background: url("../../public/dom.png");
}

.nav_btn {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #607afc;
    background: #fff;
    padding: 10px;
    border: none;
}

.nav_btn:hover {
    color: #fff;
    background: #607afc;
    cursor: pointer;
}

.nav_btn:active, .nav_btn:focus {
    box-shadow: none;
}

.dropdown_item {
    color: #607afc;
    white-space: nowrap;
}

@media screen and (max-width: 500px) {
    .dropdown_item {
        white-space: pre-wrap;
    }
}

.dropdown_item:hover {
    color: #fff;
    background: #607afc;
}

.navbar_collapse {
    justify-content: flex-end;
}

.navbar_toggler:hover, .navbar_toggler:focus {
    outline: none !important;
}

.navbar_toggler_icon {
    background: url("../../public/toggler_v2.png");
}
