.header {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #607afc, #9AB3D1);
}

.test {
    margin-left: 10px;
    padding-top: 20px;
    font-size: 30pt;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .test {
        margin-left: 0;
        font-size: 18pt;
        text-align: center;
    }
}

.logo {
    margin: 10px;
    max-height: 100px;
}
