body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

.page__title {
    color: #607afc;
    margin: 1em 0.1em 1em 0.1em;
}

.btn {
    border: 1px solid #607afc;
    color: #fff;
    background: #607afc;
}

.btn_container {
    display: flex;
    justify-content: flex-end;
}

.content {
    margin: 56px 0;
    position: relative;
}

.text {
    font-size: 20px;
}

.uninews_link {
    float: right;
}

.uninews_link:hover {
    color: #fff;
    text-decoration: none;
}

.banner__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.banner {
    margin-bottom: 10px;
}

.pagination {
    flex-wrap: wrap;
}

.page-item {
    color: #607afc;
    cursor: pointer;
}

.overlay {
    position: absolute;
    z-index: 1500;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.5);
}

.updating-spinner {
    position: fixed;
    top: 50%;
    left: 47%;
}
