.nav {
    background: #fff;
    margin: 10px 15px 20px 15px;
    border-radius: .25rem;
    justify-content: center;
    box-shadow: 0 0 10px #ccc;
}

.nav_item {
    white-space: pre-wrap;
    font-size: 0.8rem;
    background: #fff;
    padding: 10px;
    color: #607afc;
    border: none;
}

.nav_item:hover {
    background: #607afc;
    color: #fff;
}

.navbar_collapse {
    justify-content: center;
}

.navbar_toggler:hover, .navbar_toggler:focus {
    outline: none !important;
}

.navbar_toggler_icon {
    background: url("../../public/toggler_v2.png");
}

.navbar_nav {
    align-items: center;
}
